<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wikimap - Wiki your Map</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

  </head>

  <body>
    <header id='nav-bar' class="container">
      <h1 class="title">asd</h1>
      <% if (!user) { %>

        <a href="#login-box" class="login-window btn btn-success"">Login / Sign In</a>

        <div id="login-box" class="login-popup">
        <a href="#" class="close">CLOSE</a>

          <form id="login" action="/login" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username"/><br/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
            <input type="submit" value="Login"/>
          </div>
          </form>

          <form id="register" action="/register" method="post">
              <div>
                <label>Username:</label>
                <input type="text" name="username"/><br/>
              </div>
              <div>
                <label>Email:</label>
                <input type="email" name="email"/>
              </div>
              <div>
                <label>Password:</label>
                <input type="password" name="password"/>
              </div>
              <div>
                <input type="submit" value="Register"/>
              </div>
          </form>
        </div>

      <% } else { %>
        <div class="logged-in">
          <span>Hello, <%= user.name %>. View your <a href="/profile">profile</a>.</span>
          <form id="logout" action="/logout" method="GET">
           <div><input type="submit" value="Logout"></div>
          </form>
        </div>
      <% } %>
    </header>

    <script type="text/javascript">
      $(document).ready(function() {
      $('a.login-window').click(function() {

                  //Getting the variable's value from a link
          var loginBox = $(this).attr('href');

          //Fade in the Popup
          $(loginBox).fadeIn(300);

          //Set the center alignment padding + border see css style
          var popMargTop = ($(loginBox).height() + 24) / 2;
          var popMargLeft = ($(loginBox).width() + 24) / 2;

          $(loginBox).css({
              'margin-top' : -popMargTop,
              'margin-left' : -popMargLeft
          });

          // Add the mask to body
          $('body').append('<div id="mask"></div>');
          $('#mask').fadeIn(300);

          return false;
      });

      // When clicking on the button close or the mask layer the popup closed
      $('a.close, #mask').live('click', function() {
        $('#mask , .login-popup').fadeOut(300 , function() {
          $('#mask').remove();
      });
      return false;
      });
      });
    </script>
    <span id="list-box">
<!--       <h2 id="lists"><p>Lists</p></h2>
 -->      <h2 id="favourites">Favourites</h2>
    </span>
    <div id="googleMap">
      <script src="/scripts/map.js">Map</script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsAPIKey %>&callback=initMap"></script>
    </div>

  </body>
</html>
