<p>
  ID: <%= user.id %><br/>
  Name: <%= user.name %><br/>
  Email: <%= user.email %><br/>
  Password: <%= user.password %> <br/>
</p>
<form id="logout" action="/logout" method="post">
  <div><input type="submit" value="Logout"></div>
</form>
