body {
  color: #777;
}

div#googleMap {
  width: 100%;
  height: 90vh;
}

/* Hides footer for google maps */
.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

ul.list {
  font-size: 12pt;
  background: #f8f8f8;
  padding: 5px;
}

.listItem {
  padding: 10px;
  color: #777;
  display: block;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background-color: #f8f8f8;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a:hover, .offcanvas a:focus, .listItem:hover {
  background: #777;
  color: white;
}

.active {
  width: 20%;
}

i.glyphicon-heart {
  float: right;
  font-size: 150%;
  display: inline-block;
}

.glyphicon-heart:hover {
  color: red;
}

@media (max-width: 500px) {
  width: 25%;
}
